.jumbotron {
    background-image: url("../images/bacteria-l.png");
    background-size: 50% 100%;
    text-align: center;
}
body {
    background-color: #DBF9FC;
}

.col-md-5{
    background-color: #DBF9FC;
}

.col-md-12{
    background-color: #DBF9FC;
}

#bar{
    background-color: #DBF9FC;
}
#gauge{
    background-color: #DBF9FC;
}
#bubble{
    background-color: #DBF9FC;
}